<?xml version="1.0" encoding="UTF-8"?>
<!-- The contents of this file are subject to the license and copyright detailed 
	in the LICENSE and NOTICE files at the root of the source tree and available 
	online at http://www.dspace.org/license/ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean name="tree" class="org.dspace.app.webui.json.TreeHierarchy">
		<property name="searchService" ref="org.dspace.discovery.SearchService" />
		<property name="configurator" ref="configuratorResource" />
	</bean>

	<bean name="resource" class="org.dspace.app.webui.json.Resource">
		<property name="configurator" ref="configuratorResource" />
		<property name="applicationService" ref="applicationService" />
	</bean>

	<bean id="solrServiceTreeNodeRootIndexPlugin" class="org.dspace.app.cris.discovery.CrisPathIndexPlugin">
		<property name="configurator" ref="configuratorResource" />
		<property name="applicationService" ref="applicationService" />
	</bean>

	<bean id="configuratorResource" class="org.dspace.app.cris.discovery.ConfiguratorResource"
		scope="prototype">
		<property name="profile">
			<map>
				<entry key="1">
					<list>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Name" />
							<property name="metadata" value="fondsname" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Person" />
							<property name="metadata" value="fondscreatorperson" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Family" />
							<property name="metadata" value="fondscreatorfamily" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Corporate Body" />
							<property name="metadata" value="fondscreatorcorporatebody" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Type" />
							<property name="metadata" value="fondstype" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Description" />
							<property name="metadata" value="fondsdescription" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Url" />
							<property name="metadata" value="url::handle" />
							<property name="url" value="true" />
						</bean>
					</list>
				</entry>
				<entry key="item-1">
					<list>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Name" />
							<property name="metadata" value="dc.contributor.author" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Description" />
							<property name="metadata" value="dc.title" />
							<property name="url" value="false" />
						</bean>
						<bean class="org.dspace.app.cris.discovery.ConfiguratorProfile">
							<property name="label" value="Url" />
							<property name="metadata" value="url::handle" />
							<property name="url" value="true" />
						</bean>
					</list>
				</entry>
			</map>
		</property>
		<property name="enabled">
			<map>
				<entry key="fonds" value="true" />
			</map>
		</property>
		<property name="relation">
			<map>
				<entry key="crisfonds">
					<ref bean="relationFONDSVSItemConfiguration" />
				</entry>
			</map>
		</property>
	</bean>

	<alias name="configuratorResource" alias="org.dspace.app.cris.discovery.ConfiguratorResource" />
</beans>