#---------------------------------------------------------------#
#------ ITEM CONTROLLED VOCABULARY CONFIGURATIONS --------------#
#---------------------------------------------------------------#
#    These configs are used by ItemControlledVocabulary         #
#---------------------------------------------------------------#

# Values for which the vocabulary structure will be controlled by ItemControlledVocabulary
# following example defines ItemControlledVocabulary "orgunits" as a dynamic controlled vocabulary, having
# configuration defined in item-authority.xml file
# item.controlled.vocabularies = orgunits

# Enable or disable the cache for hasChildren property
item.controlled.vocabularies.enable.cache = true