#---------------------------------------------------------------#
#------------------ METRICS CONFIGURATIONS ---------------------#
#---------------------------------------------------------------#
# These configs are used by the metrics framework               #
# NOTE: These settings have to be set in instance               #
# own custom ${dspace.dir}/config/local.cfg file.               #

# Settings to retrieve the Citation count from WOS
metrics.wos.citation-count.url = https://wos-api.clarivate.com/api/wos/?databaseId=WOS&lang=en&usrQuery=
metrics.wos.citation-count.apiKey = ${wos.apiKey}

# Settings to retrieve the citation count from Scopus
metrics.scopus.citation-count.url = https://api.elsevier.com/content/search/scopus?query=
metrics.scopus.citation-count.apiKey = ${scopus.apiKey}
metrics.scopus.citation-count.instToken = ${scopus.instToken}
metrics.scopus.citation-count.fetchSize = ${scopus.fetchSize}

# Settings to retrieve the H-Index from Scopus
metrics.scopus.person.url = https://api.elsevier.com/content/author/author_id/
# The view mode to call the author endpoint. For more information see https://dev.elsevier.com/documentation/AuthorRetrievalAPI.wadl
metrics.scopus.person.viewMode = ENHANCED
metrics.scopus.person.apiKey = ${scopus.apiKey}
metrics.scopus.person.instToken = ${scopus.instToken}

# The default limit for the items to be updated by the update-metrics script, used if no limit is provided as parameter
metrics.update-metrics-script.limit = 1750

#---------------------------------------------------------------#
# Configure altmetric.com badges.                               #
# See http://api.altmetric.com/embeds.html                      #
#---------------------------------------------------------------#

# Is the Altmetric.com badge enabled?
altmetric.data-badge-enabled = true
altmetric.list-data-badge-enabled = true

# Possible values: donut medium-donut large-donut 1 4
altmetric.badgeType = donut
altmetric.list-badgeType = donut

# Possible values: left right top bottom
altmetric.popover = left
altmetric.list-popover = left

# Possible values: right
#altmetric.details =
#altmetric.list-details =

# the properties below are used by the widget in both list and details page
# Possible values: true
altmetric.hideNoMentions = true

# only show metric gt the specified value
altmetric.hideLessThan = 0

# Metadata field which contains the interesting identifiers
altmetric.doiField = dc.identifier.doi
altmetric.pmidField = dc.identifier.pmid

#---------------------------------------------------------------#
# Configure Dimensions metrics.                                 #
#---------------------------------------------------------------#

dimensions.data-badge-enabled = true
dimensions.list-data-badge-enabled = true

dimensions.data-legend = hover-left
dimensions.list-data-legend = hover-left

dimensions.data-style = small_circle
dimensions.list-data-style = small_circle

# the properties below are used by the widget in both list and details page
dimensions.doiField = dc.identifier.doi
dimensions.pmidField = dc.identifier.pmid
dimensions.data-hide-zero-citations = true

#---------------------------------------------------------------#
# Configure PlumX Artifact widgets.                             #
# See https://plu.mx/pitt/developers/widgets                    #
#---------------------------------------------------------------#
# where is the PlumX Artifact widget enabled?
#plumx.data-person-badge-enabled = true
#plumx.list-data-person-badge-enabled = true
#plumx.data-publication-badge-enabled = true
#plumx.list-data-publication-badge-enabled = true

plumx.person-plumx-script = //cdn.plu.mx/widget-person.js
plumx.publication-plumx-script = //cdn.plu.mx/widget-popup.js
plumx.publication-href = https://plu.mx/plum/a/
plumx.person-href = https://plu.mx/plum/u/

# properties for researcher widget
plumx.data-no-name = false
plumx.data-num-artifacts = 5
plumx.data-width = 350px
plumx.data-no-description = false
plumx.data-no-stats = false
plumx.data-no-thumbnail = false
plumx.data-no-artifacts = false

# properties for publication widget
plumx.data-popup = left
plumx.data-hide-when-empty = true
plumx.data-hide-usage = false
plumx.data-hide-captures = false
plumx.data-hide-mentions = false
plumx.data-hide-socialmedia = false
plumx.data-hide-citations = false
plumx.data-pass-hidden-categories = false
plumx.data-detail-same-page = false

# properties for researcher widget
plumx.list-data-no-name = true
plumx.list-data-num-artifacts = 5
plumx.list-data-width = 6em
plumx.list-data-no-description = true
plumx.list-data-no-stats = true
plumx.list-data-no-thumbnail = true
plumx.list-data-no-artifacts = true

# properties for publication widget
plumx.list-data-popup = bottom
plumx.list-data-hide-when-empty = true
plumx.list-data-hide-usage = false
plumx.list-data-hide-captures = false
plumx.list-data-hide-mentions = false
plumx.list-data-hide-socialmedia = false
plumx.list-data-hide-citations = false
plumx.list-data-pass-hidden-categories = false
plumx.list-data-detail-same-page = false