pubmedfeed.query.param.default=${pubmed.query.param.default}
pubmedfeed.query-retention=-1
#pubmedfeed.query.param.default=YOUR_INSTITUTION [AFFL]
#imp_record -m configuration
#pubmedfeed.metadata.template = dc.title,dc.description.abstract,dc.relation.ispartof,dc.relation.ispartofbook,dc.relation.volume,dc.relation.issue,dc.contributor.author,dc.contributor.other,dc.subject,dc.subject.meshqualifier,dc.subject.mesh,dc.identifier.pubmed,dc.identifier.pmc,dc.identifier.isbn,dc.identifier.eissn,dc.identifier.issn,dc.identifier.doi,dc.type,dc.date.issued,dc.language.iso,dc.publisher
