#---------------------------------------------------------------#
#----- IIIF Create access image for RAW task CONFIGURATIONS ----#
#---------------------------------------------------------------#
# Configuration properties used by the IIIF viewer integration  #
#---------------------------------------------------------------#

# DNG (Digital Negative) is a type of RAW file format used in digital photography.
dng = false
