.notifyListButton {
	cursor: pointer;
	outline: none;
	transition: 0.2s all;
}

.notifyListButton:active {
	transform: scale(0.98);
	/* Scaling button to 0.98 to its original size */
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
	/* Lowering the shadow */
}